<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Blog Django Man</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog Django Man</a></h1>
        </div>

        <div>
            <p>publicado: 14.07.2021, 19:00</p>
            <h2><a href="">Meu primeiro post</a></h2>
            <p>Iniciando no mundo da programação</p>
        </div>

        <div>
            <p>publicado: 14.07.2021, 20:00</p>
            <h2><a href="">Meu segundo post</a></h2>
            <p>meus primeiros passos no html</p>
        </div>
    </body>
</html>
